/* Start Variables */
:root {
	--mainColor: #2196f3;
	--alterColor: #1787e0;
	--sectionBgColor: #ececec;
	--mainDuration: 0.3s;
}
/* End Variables */
/* Start Global Rules */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: Cairo;
}
section:not(:first-of-type) {
	padding-top: 100px;
	padding-bottom: 100px;
}
.section-container {
	margin: 60px auto auto;
}
.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: initial;
	display: block;
}
/* Small */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
/* Medium */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
/* Large */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
/* End Global Rules */
/* Start Global Components */
.section-title {
	margin: auto;
	width: fit-content;
}
.section-title h2 {
	padding: 10px 20px;
	font-size: 30px;
	font-weight: bold;
	border: 2px solid black;
	text-transform: uppercase;
	position: relative;
	transition: var(--mainDuration) var(--mainDuration);
	z-index: 100;
}
.section-title h2::before,
.section-title h2::after {
	content: "";
	position: absolute;
	z-index: -1;
	border-radius: 50%;
	height: 12px;
	width: 12px;
	top: 50%;
	transform: translateY(-50%);
	background-color: var(--mainColor);
}
.section-title h2::before {
	left: -30px;
	transition: left var(--mainDuration),
		width var(--mainDuration) var(--mainDuration),
		border-radius var(--mainDuration) var(--mainDuration),
		height var(--mainDuration) var(--mainDuration);
}
.section-title h2::after {
	right: -30px;
	transition: right var(--mainDuration),
		width var(--mainDuration) var(--mainDuration),
		border-radius var(--mainDuration) var(--mainDuration),
		height var(--mainDuration) var(--mainDuration);
}
.section-title h2:hover {
	border-color: transparent;
	color: white;
	z-index: 100;
}
.section-title h2:hover::before,
.section-title h2:hover::after {
	width: 50%;
	height: 100%;
	border-radius: 0;
	z-index: -1;
}
.section-title h2:hover::before {
	left: 0;
}
.section-title h2:hover::after {
	right: 0;
}
/* End Global Components */
/* Start Animations */
@keyframes up-and-down {
	0% {
		top: -20px;
	}
	100% {
		top: 20px;
	}
}
@keyframes bounce {
	0% {
		bottom: 40px;
	}
	40% {
		bottom: 25px;
	}
	60% {
		bottom: 40px;
	}
	100% {
		bottom: 40px;
	}
}
@keyframes animate-arrow {
	0% {
		right: 0;
	}
	100% {
		right: -10px;
	}
}
@keyframes fill {
	0% {
		width: 0;
		height: 0;
		opacity: 1;
	}
	90% {
		opacity: 0.5;
	}
	100% {
		width: 100%;
		height: 100%;
		opacity: 0;
	}
}
/* End Animations */
/* Start Header */
header .container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header .container .logo > a {
	height: 72px;
	color: var(--mainColor);
	font-size: 26px;
	font-weight: bold;
	padding: 20px 0;
}
header .container nav > ul {
	display: flex;
}
header .container nav > ul > li > a {
	height: 72px;
	font-size: 18px;
	text-transform: capitalize;
	transition: var(--mainDuration);
	width: 100%;
	transition: var(--mainDuration);
	position: relative;
	padding: 0 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
header .container nav > ul > li a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 4px;
	width: 0;
	background-color: var(--mainColor);
	transition: var(--mainDuration);
}
header .container nav > ul > li > a:hover {
	background-color: #fafafa;
	color: var(--mainColor);
}
header .container nav > ul > li > a:hover::before {
	width: 100%;
}
header .container nav > ul > li:hover .mega-menu {
	opacity: 1;
	margin-top: 0;
	z-index: 1;
}
header .container nav ul li .mega-menu {
	opacity: 0;
	display: flex;
	position: absolute;
	margin-top: 20px;
	top: 72px;
	left: 0;
	width: 100%;
	background-color: white;
	z-index: -1;
	border-bottom: 3px solid var(--mainColor);
	padding: 30px;
	justify-content: space-evenly;
	transition: margin-top var(--mainDuration), opacity var(--mainDuration);
}
header .container nav ul li .mega-menu .image img {
	width: 100%;
}
header .container nav ul li .mega-menu ul li a {
	padding: 20px 0;
	font-weight: bold;
	text-transform: capitalize;
	color: var(--mainColor);
	transition: var(--mainDuration);
	position: relative;
	font-size: 18px;
	min-width: 200px;
	display: flex;
	align-items: center;
}
header .container nav ul li .mega-menu ul li:not(:last-child) {
	border-bottom: 2px solid #e9e6e6;
}
header .container nav ul li .mega-menu ul li a::before {
	content: "";
	height: 100%;
	background-color: #fafafa;
	top: 0;
	left: 0;
	width: 0;
	transition: var(--mainDuration);
	z-index: -1;
}
header .container nav ul li .mega-menu ul li a:hover:before {
	width: 100%;
}
header .container nav ul li .mega-menu ul li a i {
	color: var(--mainColor);
	transition: var(--mainDuration);
	margin-right: 10px;
}
header .container nav ul li .mega-menu ul li a:hover,
header .container nav ul li .mega-menu ul li a:hover i {
	color: var(--alterColor);
}

@media (max-width: 767px) {
	header .container {
		flex-direction: column;
	}
	header .container .logo a {
		height: 50px;
	}
	header .container nav ul li a {
		font-size: 14px;
		height: 40px;
		padding: 0 10px;
	}
	header .container nav ul li .mega-menu {
		top: 90px;
		flex-direction: column;
		align-items: flex-end;
		padding-top: 0;
	}
	header .container nav ul li .mega-menu ul li a {
		justify-content: flex-end;
	}
	header .container nav ul li .mega-menu ul li a i {
		order: 2;
		margin-right: 0;
		margin-left: 10px;
	}
	header .container nav ul li .mega-menu ul:first-of-type li:last-child {
		border-bottom: 2px solid #e9e6e6;
	}
}
@media (max-width: 991px) {
	header .container nav ul li .mega-menu .image img {
		display: none;
	}
}
/* End Header */
/* Start Landing Section */
section.landing {
	position: relative;
	overflow: hidden;
	height: calc(100vh - 72px);
}
section.landing::before {
	position: absolute;
	width: 100%;
	height: 100%;
	content: "";
	top: -40px;
	left: 0;
	background-color: #ececec;
	z-index: -1;
	transform: skewY(-6deg);
	transform-origin: top left;
}
section.landing .container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80%;
}
section.landing .container .landing-text h1 {
	font-size: 40px;
	letter-spacing: -2px;
}
section.landing .container .landing-text p {
	font-size: 23px;
	color: #666;
	line-height: 1.7;
	max-width: 500px;
}
section.landing .container .landing-image {
	max-width: 600px;
}
section.landing .container .landing-image img {
	width: 100%;
	position: relative;
	animation: up-and-down 2s linear infinite alternate-reverse;
}
section.landing .go-down {
	position: absolute;
	bottom: 25px;
	left: 50%;
	transform: translateX(-50%);
	animation: bounce 0.7s linear infinite alternate;
}
section.landing .go-down i {
	color: var(--mainColor);
	transition: var(--mainDuration);
}
section.landing .go-down i:hover {
	color: var(--alterColor);
}
@media (max-width: 991px) {
	section.landing .container .landing-image img {
		display: none;
	}
	section.landing {
		height: calc(100vh - 90px);
	}
	section.landing .container {
		height: calc(100% - (32px + 25px));
	}
	section.landing .container .landing-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
}
/* End Landing Section */
/* Start Articles Section */
section.articles .section-container {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
}
section.articles .section-container .article {
	flex-basis: calc((100% - (3 * 40px)) / 4);
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
	top: 0;
	transition: var(--mainDuration);
	position: relative;
}
section.articles .section-container .article:hover {
	box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
	top: -10px;
}
section.articles .section-container .article:hover .article-more i {
	animation: animate-arrow calc(var(--mainDuration) * 2) infinite;
}
section.articles .section-container .article .article-img img {
	width: 100%;
}
section.articles .section-container .article .article-text h3 {
	text-transform: capitalize;
	padding: 20px 20px 0;
	margin-bottom: 10px;
}
section.articles .section-container .article .article-text p {
	color: #777;
	line-height: 1.8;
	padding: 0 20px 20px;
	border-bottom: #e6e6e7 1px solid;
}
section.articles .section-container .article .article-more {
	padding: 20px;
	display: flex;
	justify-content: space-between;
}
section.articles .section-container .article .article-more a {
	color: var(--mainColor);
	font-weight: bold;
	text-transform: capitalize;
	transition: var(--mainDuration);
}
section.articles .section-container .article .article-more a:hover {
	color: var(--alterColor);
}
section.articles .section-container .article .article-more i {
	position: relative;
	color: var(--mainColor);
}
@media (max-width: 1199px) {
	section.articles .section-container .article {
		flex-basis: calc((100% - (2 * 40px)) / 3);
	}
}
@media (max-width: 991px) {
	section.articles .section-container .article {
		flex-basis: calc((100% - (2 * 40px)) / 3);
	}
}
@media (max-width: 767px) {
	section.articles .section-container .article {
		flex-basis: calc((100% - (1 * 40px)) / 2);
	}
}
@media (max-width: 566px) {
	section.articles .section-container .article {
		flex-basis: calc((100% - (0 * 40px)) / 1);
	}
	section.articles .section-container .article .article-text {
		text-align: center;
	}
	section.articles .section-container .article .article-more {
		justify-content: center;
		gap: 40px;
	}
}
/* End Articles Section */
/* Start Gallery Section */
section.gallery {
	background-color: var(--sectionBgColor);
}
section.gallery .section-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 40px;
}
section.gallery .section-container .gallery-pic {
	border: 15px solid white;
	background-color: white;
	box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
	overflow: hidden;
	position: relative;
}
section.gallery .section-container .gallery-pic::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(255, 255, 255, 0.3);
	transition: var(--mainDuration);
}
section.gallery .section-container .gallery-pic:hover::before {
	animation: fill calc(var(--mainDuration) * 1) forwards;
	z-index: 100;
}
section.gallery .section-container .gallery-pic img {
	width: 100%;
	max-width: 100%;
	transition: var(--mainDuration);
}
section.gallery .section-container .gallery-pic:hover img {
	transform: rotate(5deg) scale(1.1);
}
/* End Gallery Section */
/* Start Features Section */
section.features .section-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 40px;
}
section.features .section-container .feature {
	border: 1px solid #ccc;
	top: 0;
	transition: var(--mainDuration);
	position: relative;
}
section.features .section-container .feature .feature-img {
	position: relative;
	overflow: hidden;
}
section.features .section-container .feature .feature-img::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}
section.features .section-container .feature:nth-child(1) .feature-img::before {
	background-color: rgb(244 64 54 / 60%);
}
section.features .section-container .feature:nth-child(2) .feature-img::before {
	background-color: rgb(0 150 136 / 60%);
}
section.features .section-container .feature:nth-child(3) .feature-img::before {
	background-color: rgb(3 169 244 / 60%);
}
section.features .section-container .feature .feature-img::after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
	height: 0;
	z-index: 200;
	border-width: 0 0 140px 700px;
	border-color: transparent transparent white;
	border-style: solid;
	transition: border-width var(--mainDuration);
}
section.features .section-container .feature:hover .feature-img::after {
	border-width: 0 650px 160px 0;
}
section.features .section-container .feature .feature-img img {
	width: 100%;
}
section.features .section-container .feature .feature-text h3 {
	text-transform: capitalize;
	padding: 20px 20px 20px;
	margin: auto auto 10px;
	width: fit-content;
	font-size: 40px;
	position: relative;
}
section.features .section-container .feature .feature-text h3::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 45%;
	height: 5px;
}
section.features
	.section-container
	.feature:nth-child(1)
	.feature-text
	h3::after {
	background-color: #f44036;
}
section.features
	.section-container
	.feature:nth-child(2)
	.feature-text
	h3::after {
	background-color: #009688;
}
section.features
	.section-container
	.feature:nth-child(3)
	.feature-text
	h3::after {
	background-color: #03a9f4;
}
section.features .section-container .feature .feature-text p {
	color: #777;
	line-height: 2;
	font-size: 20px;
	padding: 0 20px 20px;
	text-align: center;
}
section.features .section-container .feature .feature-more {
	padding: 20px;
}
section.features .section-container .feature .feature-more a {
	font-weight: bold;
	text-transform: capitalize;
	font-size: 22px;
	text-align: center;
	transition: var(--mainDuration);
	border-radius: 5px;
	width: fit-content;
	padding: 10px 30px;
	margin: auto;
	position: relative;
}
section.features .section-container .feature:nth-child(1) .feature-more a {
	color: #f44036;
	border: 4px solid #f44036;
}
section.features .section-container .feature:nth-child(2) .feature-more a {
	color: #009688;
	border: 4px solid #009688;
}
section.features .section-container .feature:nth-child(3) .feature-more a {
	color: #03a9f4;
	border: 4px solid #03a9f4;
}
section.features .section-container .feature .feature-more a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	transition: var(--mainDuration);
	z-index: -1;
}
section.features
	.section-container
	.feature:nth-child(1)
	.feature-more
	a::before {
	background-color: #f44036;
}
section.features
	.section-container
	.feature:nth-child(2)
	.feature-more
	a::before {
	background-color: #009688;
}
section.features
	.section-container
	.feature:nth-child(3)
	.feature-more
	a::before {
	background-color: #03a9f4;
}
section.features .section-container .feature:hover .feature-more a {
	color: white;
}
section.features .section-container .feature:hover .feature-more a::before {
	width: 100%;
}
/* End Features Section */
/* Start Testimonials Section */
section.testimonials {
	background-color: var(--sectionBgColor);
}
section.testimonials .section-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 40px;
	margin-top: 110px;
}
section.testimonials .section-container .box {
	position: relative;
	background-color: white;
	border-radius: 6px;
	padding: 20px;
}
section.testimonials .section-container .box img {
	position: absolute;
	top: 0;
	right: -10px;
	transform: translateY(-50%);
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 10px solid var(--sectionBgColor);
}
section.testimonials .section-container .box * {
	margin-bottom: 10px;
}
section.testimonials .section-container .box span {
	color: #777;
	display: block;
}
section.testimonials .section-container .box .rate {
	margin-bottom: 0;
}
section.testimonials .section-container .box .rate i.filled {
	color: #ffc107;
}
section.testimonials .section-container .box p {
	color: #777;
	line-height: 1.8;
}
/* End Testimonials Section */
/* Start Members Section */
section.members .container .section-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 40px;
}
section.members .container .section-container .member {
	position: relative;
	border-radius: 15px;
}
section.members .container .section-container .member::before {
	content: "";
	background-color: #f3f3f3;
	position: absolute;
	top: 0;
	left: 20%;
	width: 80%;
	height: 100%;
	z-index: -1;
	border-radius: 15px;
}
section.members .container .section-container .member::after {
	content: "";
	background-color: #e4e4e4;
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 100%;
	border-radius: 15px;
	z-index: -1;
	transition: var(--mainDuration);
}
section.members .container .section-container .member:hover::after {
	width: 80%;
}
section.members .container .section-container .member .member-social {
	margin-top: 60px;
	display: flex;
}
section.members
	.container
	.section-container
	.member
	.member-social
	.member-image
	img {
	width: 100%;
	border-radius: 15px;
	transition: var(--mainDuration);
}
section.members
	.container
	.section-container
	.member:hover
	.member-social
	.member-image
	img {
	filter: grayscale(100%);
}
section.members .container .section-container .member .member-social ul {
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: center;
	gap: 20px;
}
section.members .container .section-container .member .member-social ul li a {
	min-width: 56px;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
section.members .container .section-container .member .member-social ul li a i {
	color: var(--mainColor);
	filter: grayscale(100%);
	transition: var(--mainDuration);
}
section.members
	.container
	.section-container
	.member
	.member-social
	ul
	li
	a:hover
	i {
	filter: grayscale(0);
}
section.members .container .section-container .member .member-info {
	padding: 20px 20px 20px calc(20% + 20px);
}
section.members .container .section-container .member .member-info h3 {
	text-transform: capitalize;
	color: var(--mainColor);
	font-weight: bold;
	font-size: 22px;
	margin-bottom: 10px;
	transition: var(--mainDuration);
}
section.members .container .section-container .member:hover .member-info h3 {
	filter: grayscale(100%);
}
section.members .container .section-container .member .member-info p {
	font-size: 18px;
}
@media (max-width: 669px) {
	section.members .container .section-container .member::before {
		top: 20%;
		left: 0;
		width: 100%;
		height: 80%;
		z-index: -1;
	}
	section.members .container .section-container .member::after {
		top: revert;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 0;
		border-radius: 15px;
		z-index: -1;
		transition: var(--mainDuration);
	}
	section.members .container .section-container .member:hover::after {
		width: 100%;
		height: 80%;
	}
	section.members .container .section-container .member .member-social {
		margin: 60px 60px 30px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	section.members .container .section-container .member .member-social ul {
		display: flex;
		flex-direction: row;
		align-items: end;
		justify-content: center;
		min-height: 80%;
		gap: 20px;
	}
	section.members .container .section-container .member .member-info {
		margin: 0 60px 30px;
		text-align: center;
		padding: 0;
	}
}
/* End Members Section */
/* Start Services Section */
section.services {
	background-color: var(--sectionBgColor);
}
section.services .container .section-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 40px;
}
section.services .container .section-container .service {
	background-color: white;
	position: relative;
	box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
	transition: var(--mainDuration) ease-in-out;
	counter-increment: counter;
}
section.services .container .section-container .service:hover {
	transform: translateY(-15px);
}
section.services .container .section-container .service::before,
section.services .container .section-container .service::after {
	content: "";
	position: absolute;
	top: -3px;
	width: 0;
	height: 3px;
	background-color: var(--mainColor);
	transition: var(--mainDuration) ease-in-out;
}
section.services .container .section-container .service::before {
	left: 50%;
}
section.services .container .section-container .service::after {
	right: 50%;
}
section.services .container .section-container .service:hover::before {
	width: 50%;
}
section.services .container .section-container .service:hover::after {
	width: 50%;
}
section.services .container .section-container .service .service-name {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
section.services .container .section-container .service .service-name i {
	color: #d5d5d5;
	margin-bottom: 20px;
}
section.services .container .section-container .service .service-name h3 {
	font-size: 25px;
	color: var(--mainColor);
	margin-bottom: 20px;
	text-transform: capitalize;
}
section.services .container .section-container .service .service-details {
	background-color: #f9f9f9;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}
section.services
	.container
	.section-container
	.service
	.service-details::before {
	content: "0" counter(counter);
	color: white;
	font-size: 30px;
	font-weight: bold;
	padding: 5px 20px;
	z-index: 1;
}
section.services
	.container
	.section-container
	.service
	.service-details::after {
	content: "";
	width: 200px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: linear-gradient(
		to right,
		var(--mainColor) 50%,
		var(--mainColor) 50%,
		#d5d5d5 50%,
		#d5d5d5 75%,
		#f9f9f9 75%
	);
	transform: skew(-30deg) translateX(-20px);
}
section.services .container .section-container .service .service-details a {
	text-transform: capitalize;
	color: var(--mainColor);
	padding-right: 15px;
}
/* End Services Section */
/* Start skills Section */
section.skills .container .section-container {
	display: flex;
}
section.skills .container .section-container .skills-img img {
	width: 100%;
}
section.skills .container .section-container .skills {
	flex-grow: 1;
}
section.skills .container .section-container .skills .skill {
	margin-bottom: 20px;
}
section.skills .container .section-container .skills .skill h3 {
	margin-bottom: 20px;
}
section.skills .container .section-container .skills .skill .skill-progress {
	height: 30px;
	position: relative;
	background-color: #eeeeee;
	width: 100%;
}
section.skills
	.container
	.section-container
	.skills
	.skill
	.skill-progress::before {
	content: attr(data-progress);
	position: absolute;
	top: -35px;
	right: 0;
	color: var(--mainColor);
	font-weight: bold;
	border: 1px solid #ccc;
	padding: 5px;
	font-size: 12px;
	border-radius: 4px;
}
section.skills
	.container
	.section-container
	.skills
	.skill
	.skill-progress::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: var(--mainColor);
	width: 80%;
}
section.skills
	.container
	.section-container
	.skills
	.skill:nth-child(2)
	.skill-progress::after {
	width: 85%;
}
section.skills
	.container
	.section-container
	.skills
	.skill:nth-child(3)
	.skill-progress::after {
	width: 70%;
}
@media (max-width: 991px) {
	section.skills .container .section-container .skills-img img {
		display: none;
	}
}
/* End skills Section */
/* Start Steps Section */
section.steps {
	background-color: var(--sectionBgColor);
}
section.steps .container .section-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
section.steps .container .section-container .steps-img {
	margin-right: 100px;
	width: 85%;
}
section.steps .container .section-container .steps-img img {
	width: 100%;
}
section.steps .container .section-container .steps .step {
	margin-bottom: 20px;
	display: flex;
	background-color: #f6f5f5;
	padding: 30px;
	border: 2px solid white;
	border-radius: 10px;
	gap: 30px;
	position: relative;
	overflow: hidden;
	z-index: 3;
}
section.steps .container .section-container .steps .step::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	background-color: #ededed;
	transition: var(--mainDuration);
	z-index: -1;
}
section.steps .container .section-container .steps .step:hover::before {
	width: 100%;
	height: 100%;
}
section.steps .container .section-container .steps .step .step-img {
	display: flex;
	justify-content: center;
	align-items: center;
}
section.steps .container .section-container .steps .step .step-img img {
	width: 64px;
}
section.steps .container .section-container .steps .step .step-content h3 {
	font-weight: bold;
	font-size: 22px;
	margin-bottom: 10px;
}
section.steps .container .section-container .steps .step .step-content p {
	line-height: 1.7;
	color: #777;
	font-size: 18px;
}
@media (max-width: 991px) {
	section.steps .container .section-container {
		flex-direction: column;
	}
	section.steps .container .section-container .steps-img {
		margin-right: 0;
		margin-bottom: 30px;
		width: 100%;
	}
}
@media (max-width: 767px) {
	section.steps .container .section-container .steps .step {
		flex-direction: column;
	}
	section.steps .container .section-container .steps .step .step-content {
		text-align: center;
	}
}
/* End Steps Section */
/* Start Events Section */
section.events {
	position: relative;
}
section.events .dots {
	position: absolute;
	z-index: -1;
}
section.events .dots.right {
	top: 200px;
	right: 0;
}
section.events .dots.left {
	bottom: 140px;
	left: 0;
}
section.events .container .section-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
section.events .container .section-container img {
	max-width: 450px;
}
section.events .container .section-container .events-info {
	flex-grow: 1;
}
section.events .container .section-container .events-info {
	text-align: center;
}
section.events .container .section-container .events-info .count-down {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 20px;
}
section.events .container .section-container .events-info .count-down .count {
	border: 1px solid #d4d4d4;
	border-radius: 5px;
	transition: var(--mainDuration);
}
section.events
	.container
	.section-container
	.events-info
	.count-down
	.count:hover {
	border-color: var(--mainColor);
}
section.events
	.container
	.section-container
	.events-info
	.count-down
	.count
	.num {
	font-size: 35px;
	font-weight: bold;
	padding: 30px 20px;
	color: var(--mainColor);
}
section.events
	.container
	.section-container
	.events-info
	.count-down
	.count
	.unit {
	border-top: 1px solid #d4d4d4;
	padding: 10px;
	text-transform: capitalize;
	font-size: 13px;
	transition: var(--mainDuration);
}
section.events
	.container
	.section-container
	.events-info
	.count-down
	.count
	.unit:hover {
	border-color: var(--mainColor);
}
section.events .container .section-container .events-info h3 {
	font-size: 30px;
	margin-bottom: 20px;
}
section.events .container .section-container .events-info p {
	color: #777;
	line-height: 1.8;
	font-size: 18px;
}
section.events .container .events-form {
	max-width: fit-content;
	background-color: #f6f5f5;
	border-radius: 50px;
	display: flex;
	gap: 20px;
	padding: 30px;
	margin: 60px auto 0;
}
section.events .container .events-form input {
	padding: 20px;
	border-radius: 50px;
	border: none;
}
section.events .container .events-form input:focus {
	outline: none;
}
section.events .container .events-form input[type="email"] {
	width: 400px;
	caret-color: var(--mainColor);
}
section.events .container .events-form input[type="email"]:focus::placeholder {
	transition: var(--mainDuration);
}
section.events .container .events-form input[type="email"]:focus::placeholder {
	opacity: 0;
}
section.events .container .events-form input[type="submit"] {
	color: white;
	background-color: var(--mainColor);
	transition: var(--mainDuration);
	cursor: pointer;
}
section.events .container .events-form input[type="submit"]:hover {
	background-color: var(--alterColor);
}
@media (max-width: 991px) {
	section.events .container .section-container img {
		display: none;
	}
}
@media (max-width: 767px) {
	section.events .container .events-form {
		flex-direction: column;
		padding: 20px;
		max-width: 100%;
		margin-left: 0;
		margin-right: 0;
		border-radius: 0;
	}
	section.events .container .events-form input {
		padding: 10px;
		border-radius: 0;
	}
	section.events .container .events-form input[type="email"] {
		width: 100%;
		text-align: center;
	}
}
/* End Events Section */
/* Start Plans Section */
section.plans {
	background-color: var(--sectionBgColor);
	position: relative;
}
section.plans .dots {
	position: absolute;
	z-index: 0;
}
section.plans .dots.right {
	top: 200px;
	right: 0;
}
section.plans .dots.left {
	bottom: 140px;
	left: 0;
}
section.plans .section-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 30px;
}
section.plans .section-container .plan {
	background-color: white;
	box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	z-index: 1;
	position: relative;
}
section.plans .section-container .plan::before,
section.plans .section-container .plan::after {
	content: "";
	position: absolute;
	width: 0;
	height: 50%;
	background-color: #f6f6f6;
	transition: var(--mainDuration);
	z-index: -1;
}
section.plans .section-container .plan::before {
	top: 0;
	left: 0;
}
section.plans .section-container .plan::after {
	bottom: 0;
	right: 0;
}
section.plans .section-container .plan:hover::before,
section.plans .section-container .plan:hover::after {
	width: 100%;
}
section.plans .section-container .plan.popular {
	transform: translateY(-20px);
}
section.plans .section-container .plan.popular .label {
	position: absolute;
	top: 0;
	right: 20px;
	background-color: var(--mainColor);
	font-weight: bold;
	font-size: 20px;
	color: white;
	padding: 10px 10px 40px;
	writing-mode: vertical-lr;
	width: 40px;
}
section.plans .section-container .plan.popular .label::before {
	position: absolute;
	width: 0;
	height: 0;
	content: "";
	background-color: white;
	bottom: 0;
	left: 0;
	border: 20px solid var(--mainColor);
	border-bottom-color: transparent;
	transition: var(--mainDuration);
}
section.plans .section-container .plan.popular:hover .label::before {
	border-bottom-color: #f6f6f6;
}
section.plans .section-container .plan h3 {
	text-transform: capitalize;
	font-size: 25px;
	margin-top: 30px;
}
section.plans .section-container .plan img {
	width: 90px;
}
section.plans .section-container .plan .price {
	font-size: 60px;
	font-weight: bold;
	color: var(--mainColor);
}
section.plans .section-container .plan .per {
	color: #777;
	text-transform: capitalize;
	margin-top: -20px;
}
section.plans .section-container .plan ul {
	align-self: flex-start;
	width: 100%;
}
section.plans .section-container .plan ul li {
	border-top: 1px solid #eee;
	position: relative;
	padding: 20px 50px;
}
section.plans .section-container .plan ul li::before {
	font-family: "Font Awesome 5 Free";
	content: "\f00c";
	font-weight: bold;
	font-size: 16px;
	position: absolute;
	top: 50%;
	left: 30px;
	transform: translate(-50%, -50%);
	color: var(--mainColor);
}
section.plans .section-container .plan button {
	margin-bottom: 30px;
	background-color: white;
	color: var(--mainColor);
	border: 2px solid var(--mainColor);
	padding: 15px 20px;
	border-radius: 5px;
	text-transform: capitalize;
	font-weight: bold;
	transition: var(--mainDuration);
	cursor: pointer;
}
section.plans .section-container .plan button:hover {
	background-color: var(--mainColor);
	color: white;
}
@media (max-width: 991px) {
	section.plans .section-container .plan.popular {
		transform: translateY(0);
	}
}
/* End Plans Section */
/* Start Videos Section */
section.videos .container .section-container {
	display: flex;
	border: 1px solid #ddd;
}
section.videos .container .section-container .playlist {
	min-width: 300px;
}
section.videos .container .section-container .playlist .title {
	background-color: #f4f4f4;
	display: flex;
	justify-content: space-between;
	padding: 20px;
}
section.videos .container .section-container .playlist .title h3 {
	font-size: 16px;
}
section.videos .container .section-container .playlist .title i {
	transition: var(--mainDuration);
	color: var(--mainColor);
	cursor: pointer;
}
section.videos .container .section-container .playlist .title i:hover {
	color: var(--alterColor);
}
section.videos .container .section-container .playlist ul li {
	padding: 20px;
	cursor: pointer;
	transition: var(--mainDuration);
}
section.videos .container .section-container .playlist ul li:hover {
	color: var(--mainColor);
	background-color: #fafafa;
}
section.videos
	.container
	.section-container
	.playlist
	ul
	li:not(:last-of-type) {
	border-bottom: 1px solid #ddd;
}
section.videos .container .section-container .playlist ul li span {
	display: block;
	margin-top: 10px;
	color: #777;
}
section.videos .container .section-container .preview {
	padding: 10px;
	background-color: #e2e2e2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
section.videos .container .section-container .preview img {
	width: 100%;
}
section.videos .container .section-container .preview .preview-title {
	background-color: white;
	padding: 20px;
}
@media (max-width: 991px) {
	section.videos .container .section-container {
		flex-direction: column;
	}
}
/* End Videos Section */
/* Start Stats Section */
section.stats {
	background-color: var(--sectionBgColor);
	position: relative;
}
section.stats::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../images/stats.jpg');
	background-size: cover;
	opacity: 0.05;
}
section.stats .container .stats-title h2 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: capitalize;
}
section.stats .container .section-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 40px;
}
section.stats .container .section-container .stat {
	background-color: white;
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 15px;
	align-items: center;
	opacity: 0.8;
	transition: var(--mainDuration);
	position: relative;
}
section.stats .container .section-container .stat:hover {
	opacity: 1;
}
section.stats .container .section-container .stat::before,
section.stats .container .section-container .stat::after {
	content: "";
	position: absolute;
	width: 2px;
	background-color: var(--mainColor);
	height: 0;
	transition: calc(var(--mainDuration) * 2);
}
section.stats .container .section-container .stat::before {
	bottom: 0;
	left: 0;
}
section.stats .container .section-container .stat::after {
	top: 0;
	right: 0;
}
section.stats .container .section-container .stat:hover::before,
section.stats .container .section-container .stat:hover::after {
	height: 100%;
}
section.stats .container .section-container .stat i {
	font-size: 30px;
}
section.stats .container .section-container .stat span:first-of-type {
	font-size: 50px;
	font-weight: bold;
}
section.stats .container .section-container .stat span:last-of-type {
	color: var(--mainColor);
	font-weight: bold;
	font-style: italic;
	font-size: 20px;
}
/* End Stats Section */
