/* Start Variables */
:root {
	--mainColor: #2196f3;
	--alterColor: #1787e0;
	--mainDuration: 0.3s;
}
/* End Variables */
/* Start Global Rules */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: Cairo;
}
section:not(:first-of-type) {
	padding-top: 100px;
	padding-bottom: 100px;
}
.section-container {
	margin: 60px auto auto;
}
.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: initial;
	display: block;
}
/* Small */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
/* Medium */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
/* Large */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
/* End Global Rules */
/* Start Global Components */
.section-title {
	margin: auto;
	width: fit-content;
}
.section-title h2 {
	padding: 10px 20px;
	font-size: 30px;
	font-weight: bold;
	border: 2px solid black;
	text-transform: uppercase;
	position: relative;
	transition: var(--mainDuration) var(--mainDuration);
	z-index: 100;
}
.section-title h2::before,
.section-title h2::after {
	content: "";
	position: absolute;
	z-index: -1;
	border-radius: 50%;
	height: 12px;
	width: 12px;
	top: 50%;
	transform: translateY(-50%);
	background-color: var(--mainColor);
}
.section-title h2::before {
	left: -30px;
	transition: left var(--mainDuration),
		width var(--mainDuration) var(--mainDuration),
		border-radius var(--mainDuration) var(--mainDuration),
		height var(--mainDuration) var(--mainDuration);
}
.section-title h2::after {
	right: -30px;
	transition: right var(--mainDuration),
		width var(--mainDuration) var(--mainDuration),
		border-radius var(--mainDuration) var(--mainDuration),
		height var(--mainDuration) var(--mainDuration);
}
.section-title h2:hover {
	border-color: transparent;
	color: white;
	z-index: 100;
}
.section-title h2:hover::before,
.section-title h2:hover::after {
	width: 50%;
	height: 100%;
	border-radius: 0;
	z-index: -1;
}
.section-title h2:hover::before {
	left: 0;
}
.section-title h2:hover::after {
	right: 0;
}
/* End Global Components */
/* Start Animations */
@keyframes up-and-down {
	0% {
		top: -20px;
	}
	100% {
		top: 20px;
	}
}
@keyframes bounce {
	0% {
		bottom: 40px;
	}
	40% {
		bottom: 25px;
	}
	60% {
		bottom: 40px;
	}
	100% {
		bottom: 40px;
	}
}
@keyframes animate-arrow {
	0% {
		right: 0;
	}
	100% {
		right: -10px;
	}
}
@keyframes effect-gallery {
	0% {
		width: 0;
		height: 0;
		opacity: 1;
	}
	90% {
		opacity: 0.5;
	}
	100% {
		width: 100%;
		height: 100%;
		opacity: 0;
	}
}
/* End Animations */
/* Start Header */
header .container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header .container .logo > a {
	height: 72px;
	color: var(--mainColor);
	font-size: 26px;
	font-weight: bold;
	padding: 20px 0;
}
header .container nav > ul {
	display: flex;
}
header .container nav > ul > li > a {
	height: 72px;
	font-size: 18px;
	text-transform: capitalize;
	transition: var(--mainDuration);
	width: 100%;
	transition: var(--mainDuration);
	position: relative;
	padding: 0 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
header .container nav > ul > li a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 4px;
	width: 0;
	background-color: var(--mainColor);
	transition: var(--mainDuration);
}
header .container nav > ul > li > a:hover {
	background-color: #fafafa;
	color: var(--mainColor);
}
header .container nav > ul > li > a:hover::before {
	width: 100%;
}
header .container nav > ul > li:hover .mega-menu {
	opacity: 1;
	margin-top: 0;
	z-index: 1;
}
header .container nav ul li .mega-menu {
	opacity: 0;
	display: flex;
	position: absolute;
	margin-top: 20px;
	top: 72px;
	left: 0;
	width: 100%;
	background-color: white;
	z-index: -1;
	border-bottom: 3px solid var(--mainColor);
	padding: 30px;
	justify-content: space-evenly;
	transition: margin-top var(--mainDuration), opacity var(--mainDuration);
}
header .container nav ul li .mega-menu .image img {
	width: 100%;
}
header .container nav ul li .mega-menu ul li a {
	padding: 20px 0;
	font-weight: bold;
	text-transform: capitalize;
	color: var(--mainColor);
	transition: var(--mainDuration);
	position: relative;
	font-size: 18px;
	min-width: 200px;
	display: flex;
	align-items: center;
}
header .container nav ul li .mega-menu ul li:not(:last-child) {
	border-bottom: 2px solid #e9e6e6;
}
header .container nav ul li .mega-menu ul li a::before {
	content: "";
	height: 100%;
	background-color: #fafafa;
	top: 0;
	left: 0;
	width: 0;
	transition: var(--mainDuration);
	z-index: -1;
}
header .container nav ul li .mega-menu ul li a:hover:before {
	width: 100%;
}
header .container nav ul li .mega-menu ul li a i {
	color: var(--mainColor);
	transition: var(--mainDuration);
	margin-right: 10px;
}
header .container nav ul li .mega-menu ul li a:hover,
header .container nav ul li .mega-menu ul li a:hover i {
	color: var(--alterColor);
}

@media (max-width: 767px) {
	header .container {
		flex-direction: column;
	}
	header .container .logo a {
		height: 50px;
	}
	header .container nav ul li a {
		font-size: 14px;
		height: 40px;
		padding: 0 10px;
	}
	header .container nav ul li .mega-menu {
		top: 90px;
		flex-direction: column;
		align-items: flex-end;
		padding-top: 0;
	}
	header .container nav ul li .mega-menu ul li a {
		justify-content: flex-end;
	}
	header .container nav ul li .mega-menu ul li a i {
		order: 2;
		margin-right: 0;
		margin-left: 10px;
	}
	header .container nav ul li .mega-menu ul:first-of-type li:last-child {
		border-bottom: 2px solid #e9e6e6;
	}
}
@media (max-width: 991px) {
	header .container nav ul li .mega-menu .image img {
		display: none;
	}
}
/* End Header */
/* Start Landing Section */
section.landing {
	position: relative;
	overflow: hidden;
	height: calc(100vh - 72px);
}
section.landing::before {
	position: absolute;
	width: 100%;
	height: 100%;
	content: "";
	top: -40px;
	left: 0;
	background-color: #ececec;
	z-index: -1;
	transform: skewY(-6deg);
	transform-origin: top left;
}
section.landing .container {
	display: flex;
	align-items: center;
	justify-content: center;
}

section.landing .container .landing-text h1 {
	font-size: 40px;
	letter-spacing: -2px;
}
section.landing .container .landing-text p {
	font-size: 23px;
	color: #666;
	line-height: 1.7;
	max-width: 500px;
}
section.landing .container .landing-image {
	max-width: 600px;
}
section.landing .container .landing-image img {
	width: 100%;
	position: relative;
	animation: up-and-down 2s linear infinite alternate-reverse;
}
section.landing .go-down {
	position: absolute;
	bottom: 25px;
	left: 50%;
	transform: translateX(-50%);
	animation: bounce 0.7s linear infinite alternate;
}
section.landing .go-down i {
	color: var(--mainColor);
	transition: var(--mainDuration);
}
section.landing .go-down i:hover {
	color: var(--alterColor);
}
@media (max-width: 991px) {
	section.landing .container .landing-image img {
		display: none;
	}
	section.landing {
		height: calc(100vh - 90px);
	}
	section.landing .container {
		height: calc(100% - (32px + 25px));
	}
	section.landing .container .landing-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
}
/* End Landing Section */
/* Start Articles Section */
section.articles .section-container {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
}
section.articles .section-container .article {
	flex-basis: calc((100% - (3 * 40px)) / 4);
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
	top: 0;
	transition: var(--mainDuration);
	position: relative;
}
section.articles .section-container .article:hover {
	box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
	top: -10px;
}
section.articles .section-container .article:hover .article-more i {
	animation: animate-arrow calc(var(--mainDuration) * 2) infinite;
}
section.articles .section-container .article .article-img img {
	width: 100%;
}
section.articles .section-container .article .article-text h3 {
	text-transform: capitalize;
	padding: 20px 20px 0;
	margin-bottom: 10px;
}
section.articles .section-container .article .article-text p {
	color: #777;
	line-height: 1.8;
	padding: 0 20px 20px;
	border-bottom: #e6e6e7 1px solid;
}
section.articles .section-container .article .article-more {
	padding: 20px;
	display: flex;
	justify-content: space-between;
}
section.articles .section-container .article .article-more a {
	color: var(--mainColor);
	font-weight: bold;
	text-transform: capitalize;
	transition: var(--mainDuration);
}
section.articles .section-container .article .article-more a:hover {
	color: var(--alterColor);
}
section.articles .section-container .article .article-more i {
	position: relative;
	color: var(--mainColor);
}
@media (max-width: 1199px) {
	section.articles .section-container .article {
		flex-basis: calc((100% - (2 * 40px)) / 3);
	}
}
@media (max-width: 991px) {
	section.articles .section-container .article {
		flex-basis: calc((100% - (2 * 40px)) / 3);
	}
}
@media (max-width: 767px) {
	section.articles .section-container .article {
		flex-basis: calc((100% - (1 * 40px)) / 2);
	}
}
@media (max-width: 566px) {
	section.articles .section-container .article {
		flex-basis: calc((100% - (0 * 40px)) / 1);
	}
	section.articles .section-container .article .article-text {
		text-align: center;
	}
	section.articles .section-container .article .article-more {
		justify-content: center;
		gap: 40px;
	}
}
/* End Articles Section */
/* Start Gallery Section */
section.gallery {
	background-color: #ececec;
}
section.gallery .section-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 40px;
}
section.gallery .section-container .gallery-pic {
	border: 15px solid white;
	background-color: white;
	box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
	overflow: hidden;
	position: relative;
}
section.gallery .section-container .gallery-pic::before {
	content: "";
	position: absolute;
	/* width: 0;
	height: 0;
  opacity: 0; */
	/* border-radius: 50%; */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(255, 255, 255, 0.3);
	transition: var(--mainDuration);
}
section.gallery .section-container .gallery-pic:hover::before {
	animation: effect-gallery calc(var(--mainDuration) * 1) forwards;
	z-index: 100;
}
section.gallery .section-container .gallery-pic img {
	width: 100%;
	max-width: 100%;
	transition: var(--mainDuration);
}
section.gallery .section-container .gallery-pic:hover img {
	transform: rotate(5deg) scale(1.1);
}
/* End Gallery Section */
